First, we downloaded the data and cleaned it by removing null values

In [30]:
import pandas as pd
from sklearn.model_selection import train_test_split
df = pd.read_csv(r"C:\Users\lenah\Downloads\Housing.csv")
df = df.drop(['furnishingstatus'], axis=1)
df['mainroad'] = df['mainroad'].map({'yes': 1, 'no': 0})
df['guestroom'] = df['guestroom'].map({'yes': 1, 'no': 0})
df['basement'] = df['basement'].map({'yes': 1, 'no': 0})
df['hotwaterheating'] = df['hotwaterheating'].map({'yes': 1, 'no': 0})
df['prefarea'] = df['prefarea'].map({'yes': 1, 'no': 0})
df['airconditioning'] = df['airconditioning'].map({'yes': 1, 'no': 0})

df.head()




##df.drop(['longitude', 'latitude'], axis=1, inplace=True)

# Convert categorical variables to dummy variables
#df = pd.get_dummies(df, columns=['ocean_proximity'], drop_first=True)

# Fill missing values 
##df.fillna(method='ffill', inplace=True)

# Split the data into training and testing sets
#y = df['median_house_value']
#x = df.drop('median_house_value', axis=1)
#x_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea
0,13300000,7420,4,2,3,1,0,0,0,1,2,1
1,12250000,8960,4,4,4,1,0,0,0,1,3,0
2,12250000,9960,3,2,2,1,0,1,0,0,2,1
3,12215000,7500,4,2,2,1,0,1,0,1,3,1
4,11410000,7420,4,1,2,1,1,1,0,1,2,0

longitude             float64
latitude              float64
housing_median_age      int64
total_rooms             int64
total_bedrooms        float64
population              int64
households              int64
median_income         float64
median_house_value      int64
ocean_proximity        object
dtype: object

Split dataset in features and target variable

In [31]:
from sklearn.model_selection import train_test_split
target = df.price
featurs = df.drop(['price'], axis=1)
x_train, x_test, y_train,y_test = train_test_split(featurs, target, test_size=0.2)

In [32]:

from sklearn.tree import DecisionTreeClassifier

clf = DecisionTreeClassifier(random_state=0)
clf.fit(x_train, y_train)

DecisionTreeClassifier(random_state=0)

In [33]:
clf.score(x_train, y_train)

print("Accuracy on training set: {:.3f}".format(round(clf.score(x_train,y_train))))
print("Accuracy on Test Set:{:.3f}".format(round(clf.score(x_test,y_test))))

Accuracy on training set: 1.000
Accuracy on Test Set:0.000

In [ ]:
clf.score(x_test, y_test)